<h2>Add new Annoucement</h2>
<div>
  <select name="name_brand" [formControl]="brandControl">
    <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name_brand}}</option>
  </select>
  <form [formGroup]="annoucementGroup" (ngSubmit)="onSubmitAnnoucement()">
    <select formControlName="modelId">
        <option *ngFor="let model of model$ | async" [ngValue]="model.id" >{{model.name_model}}</option>
    </select>
    <input formControlName="colorId"/>
    <select formControlName="year">
      <option *ngFor="let date of listYear" [ngValue]="date">{{date}}</option>
    </select>
    <button [disabled]="annoucementGroup.invalid" type="Submit">Add annoucement Submit mode</button>
  </form>
</div>
